<% content_for :title do %>Antony's dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_categories_table" data-view="Table" data-title="Game Categories with respective sale numbers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="categories_by_salepercent" data-view="List" data-unordered="true" data-title="Game Categories with respective sale percentage" data-moreinfo="#From splunk tutorial data" style="background-color:#2F4F4F"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
